
@{
    ViewData["Title"] = "UserPage";
}

<center>
    <h2>Seja bem-vindo Sr(a). @User.Identity.Name</h2>
    <br><br>
    <a href="~/Users/Logout" class="btn btn-warning">Realizar o logout</a>
</center>